proxy_cache_path /tmp/cache keys_zone=cache:10m levels=1:2 inactive=600s max_size=100m;

server {
    listen 80;
    listen [::]:80;

    {% if ansible_connection != 'local' %}
    server_name shareconversation.com www.shareconversation.com;
    {% endif %}

    root /var/www/shareprompts;

    index index.html;

    # Enable CORS
    add_header Access-Control-Allow-Origin "$http_origin";
    add_header Access-Control-Allow-Headers "authorization,Content-Type,credentials";
    add_header Access-Control-Allow-Credentials "true";
    add_header Access-Control-Allow-Methods "GET, POST, DELETE, OPTIONS";

    if ($request_method = OPTIONS) {
        return 204;
    }

    if ($args ~ cache=0){
        set $bypass 1;
    }
    location /conversation/ {
        client_max_body_size 2M;
        proxy_pass http://localhost:9090/conversation/;
        # Turn on microcaching (for GET)
        proxy_cache cache;
        proxy_cache_valid 200 1m;
        proxy_cache_valid 400 404 500 1m;
        proxy_cache_lock on;
        proxy_cache_bypass $bypass;
    }
    location /api/ {
        client_max_body_size 2M;
        proxy_pass http://localhost:9090/;
    }
    {% if ansible_connection == 'local' %}
    location / {
        proxy_pass http://localhost:5173/;
    }
    {% else %}
    location / {
        try_files $uri $uri/ =404;
    }
    {% endif %}
}
