
@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
    @apply list-decimal;
    @apply list-outside;
    @apply pb-4 pl-4;
}
ul {
    @apply list-disc;
    @apply list-inside;
    @apply pb-4;
}
p {
    @apply pb-4;
    @apply break-words;
    @apply whitespace-pre-wrap;
}
table {
    @apply mb-4 text-sm;
}
.markdown th {
    @apply bg-stone-200 border py-1 px-3;
}
.markdown td {
    @apply border py-1 px-3;
}
code:not(.hljs) {
    font-weight: 700;
}
code:not(.hljs)::before {
    font-weight: 700;
    content: '`';
}
code:not(.hljs)::after {
    font-weight: 700;
    content: '`';
}
pre code.hljs {
}
pre code::before {
    content: '' !important;
}
pre code::after {
    content: '' !important;
}
.hljs {
    @apply bg-black rounded-b-md p-0;
}
