[Unit]
Description=SharePrompts backend service for keeping track of conversations
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/app/shareprompts/shareprompts-backend-api
WorkingDirectory=/app/shareprompts
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
